# Python кеш и временные файлы
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Кеш pip
pip-log.txt
pip-delete-this-directory.txt

# Кешы виртуальных окружений
env/
venv/
ENV/
.venv/
ENV.bak/

# VSCode настройки
.vscode/
.vscode/settings.json
.vscode/*

# Кеш логов
*.log
setup_log.txt
start_log.txt
update_log.txt
loading_log.txt
logs/

# Тестовые результаты
test_results.txt
